.cardDetails
  display: flex
  background: linear-gradient(276.45deg, #707070 0%, #393939 100.28%)
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px
  color: #ffffff
  &_teams
    display: flex
    flex-direction: column
    align-self: flex-start
    width: 100%
  &_wrapper
    width: 100%
    align-self: flex-start
  &_info
    display: flex
    flex-direction: column
    padding: 65px 0
    width: 50%
    h1
      text-align: left
      span
        color: red
  &_img
    display: flex
    justify-content: center
    align-items: center
    width: 50%
    img
      width: 50%
  &_description
    display: flex
    flex-direction: column
    &_main
      display: flex
      justify-content: space-between
  &_skill
    display: flex
    flex-direction: column
    align-items: flex-start
    width: 50%
    margin-bottom: 40px
  &_roster
    border: 0.5px solid #9C9C9C
    border-radius: 10px
    margin-top: 24px
    background: #FFFFFF
    &_aTable
      display: flex
    table
      width: 100%
    tr
      display: flex
      justify-content: space-between
      height: 56px
      background: #FFFFFF
      border-top: 0.5px solid #9C9C9C
      padding: 0 32px
      td
        display: flex
        align-items: center
        img
          width: 52px
    &_info
      display: flex
      align-items: center
      width: 100%
      &_descr
        display: flex
        flex-direction: column
        margin-left: 10px
        span
          text-align: left

@media screen and (max-width: 1450px)
  .cardDetails
    &_skill
      margin-bottom: 0
@media screen and (max-width: 1100px)
  .cardDetails
    &_info
      padding: 10px 0
@media screen and (max-width: 660px)
  .cardDetails
    flex-direction: column
    &_img, &_info
      width: 100%
    &_info h1
      text-align: center
    &_description
      &_main
        flex-direction: column
        width: 100%
    &_skill
      align-items: center
      width: 100%
    &_roster
      tr
        justify-content: flex-start
      thead tr td
        &:nth-child(3),  &:nth-child(4), &:nth-child(5)
          display: none
      tbody tr td
        &:nth-child(4),  &:nth-child(5), &:nth-child(6), &:nth-child(7)
          display: none

