$LightestGrey: #D1D1D1
$LightRed: #FF5761
.pagination
  display: flex
  align-items: center
  &_wrapper
    display: flex
    align-items: center
    justify-content: space-between
  .active
    background: #E4163A
    border-radius: 4px
    color: #ffffff
    text-align: center
    a
      outline: none
      text-align: center
  li
    padding: 10px 15px
    cursor: pointer
    &:first-child, &:last-child
      border: none
      background-image: url("/src/assets/images/link.png")
      background-position: center
      background-repeat: no-repeat
      transform: rotate(-90deg)
      margin-right: 33px
      margin-left: 20px
    &:last-child
      transform: rotate(90deg)
  &_selectCountCard
    position: relative
  &_setCountCard
    flex-direction: column
    background: #FFFFFF
    border: 0.5px solid $LightestGrey
    box-sizing: border-box
    border-radius: 4px
    position: absolute
    bottom: calc(100% + 4px)
    margin: 0
    width: 100%
    li
      padding: 8px 54px 8px 22px
      cursor: pointer
      &:hover
        background-color: $LightRed
      &:nth-child(even)
        border-top: 0.5px solid $LightestGrey
        border-bottom: 0.5px solid $LightestGrey
  &_currentCard
    border: 0.5px solid $LightestGrey
    padding: 8px 12px 8px 20px
    border-radius: 4px
    background: #FFFFFF
    span
      &:after
        content: ''
        border-right: 0.5px solid $LightestGrey
        margin-left: 20px
    img
      margin-left: 12px
      cursor: pointer
      transform: rotate(90deg)
    &_rotate
      transform: rotate(0deg) !important

