header
  display: flex
  justify-content: space-between
  padding: 12px 51px
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.1)
  width: 100%

.userInfo
  display: flex
  align-items: center
  &Info span
    margin-right: 3px
