.header
  display: flex
  justify-content: space-between
  padding: 12px 51px
  box-shadow: 0 1px 10px rgba(209, 209, 209, 0.5)
  width: 100%
  position: relative
  &_logo
    display: flex
    justify-content: center
    align-items: center


@media screen and ( max-width: 850px )
  .header
    justify-content: center

