.card
  display: flex
  justify-content: center
  align-items: center
  &_notification
    display: flex
    flex-direction: column
    background: #FFFFFF
    border-radius: 15px
    padding: 48px 95px
    h1
      color: #FF5761
    span
      font-family: Avenir
      font-style: normal
      font-weight: normal
      font-size: 24px
      line-height: 33px
      color: #707070
      transform: rotate(0.4deg)
      margin-bottom: 45px


