.card
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  background: #FFFFFF
  border-radius: 15px
  padding: 48px 95px
  width: 556px
  h1
    color: #FF5761
  span
    color: #707070
    transform: rotate(0.4deg)
    margin-bottom: 45px
  a
    width: 100%
@media screen and ( max-width: 580px )
  .card
    width: 100%
    padding: 25px 20px
    span
      margin-bottom: 25px
    img
      width: 100%
@media screen and ( max-width: 480px )
  .card
    padding: 25px 0
    span
      margin-bottom: 15px
    h1
      margin: 15px 0



