.cardLayout
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%)
  border-radius: 4px
  width: 32%
  margin-bottom: 24px
  &_image
    img
      padding: 65px 0
  &_description
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 21px 52px
    background: #303030
    border-radius: 0 0 4px 4px
    color: #ffffff
    width: 100%