//Color
$DarkGrey: #303030
$Grey: #707070
$LightGrey: #9C9C9C
$LightestGrey: #D1D1D1
$LightestGrey1: #F6F6F6
$DarkRed: #C60E2E
$Red: #E4163A
$LightRed: #FF5761
$LightestRed: #FF768E
$Blue: #344472
$shadow: #D9D9D9
//Font
$Avenir: Avenir

//img
$imgPath: '/src/assets/images/link.png'

*
  box-sizing: border-box

body
  margin: 0
  font-family: sans-serif

ul li
  list-style: none

ul
  padding: 0

a
  text-decoration: none

.btn
  font-family: $Avenir
  font-style: normal
  font-weight: 500
  font-size: 16px
  line-height: 24px
  border-radius: 4px
  outline: none
  cursor: pointer
  &_cancel
    color: $LightGrey
    background: #ffffff
    border: 1px solid #9C9C9C
    &:hover
      background: $LightestGrey

  &_add
    padding: 8px 0
    color: #ffffff
    background: $Red
    border: none
    &:hover
      background-color: $LightRed


select
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  width: 100%
  border: none
  outline: none
  cursor: pointer
  option
    border: 0.5px solid #D1D1D1
    border-radius: 4px

.select
  position: relative
  width: 100%
  display: flex
  align-items: center
  select
    height: 40px
  &_imgRotateOn
    transform: rotate(180deg)
  &_imgRotateOff
    transform: rotate(90deg)
  img
    right: 8px
    position: absolute
    cursor: pointer


input, select
  outline: none
  padding: 12px
  background: $LightestGrey1
  border-radius: 4px
  border: none
  //border: solid 1px red
  &:hover
    background: $LightestGrey

  &:focus
    background: $LightestGrey1
    box-shadow: 0 0 5px $shadow

.breadCrumbs
  //font-family: $Avenir
  font-style: normal
  font-weight: 500
  font-size: 14px
  line-height: 24px
  color: $Red
  display: flex
  justify-content: space-between
  padding: 26px 32px
  background: #FFFFFF
  border-radius: 10px 10px 0 0
  text-align: left

  &_img
    a:nth-child(2)
      margin-left: 16px

.text
  //font-family: $Avenir
  font-style: normal
  font-weight: normal
  &_big
    font-size: 36px
    line-height: 49px
  &_middle
    font-weight: 800
    font-size: 24px
    line-height: 33px
  &_middle14
    font-weight: 500
    font-size: 14px
    line-height: 24px
  &_small
    font-weight: 500
    font-size: 18px
    line-height: 25px
  &_extraSmall
    font-weight: 500
    font-size: 12px
    line-height: 150%

.topElement
  display: flex
  justify-content: space-between
  background-color: $LightestGrey1
  padding: 26px 0
  &_options
    display: flex
    justify-content: space-between
    width: 66%
  &_search
    position: relative
    max-width: 364px
    width: 364px
    input
      background: #ffffff
      border: 0.5px solid $LightestGrey1
      width: 100%
    img
      cursor: pointer
      position: absolute
      right: 12px
      top: 0
      bottom: 0
      margin-top: 10px
  &_btn
    padding: 8px 24px
    span:nth-child(2)
      margin-left: 8px