.login
  display: flex
  justify-content: center
  align-items: center
  &_formItem
    display: flex
    flex-direction: column
  form
    button
      width: 100%

.passInput
  display: flex
  justify-content: center
  align-items: center
  position: relative

  img
    position: absolute
    right: 5px
